.xyz
{
    text-align:center;
 float:left;
 position: absolute; 
 bottom:55%;
 top:175px;
 width:360px;
 height:35%;  
 overflow : auto;
 background-color:#d2d1d1;
}
.main
{

    width:900px;
    position: absolute;
    top:175px;
    /* text-align: center; */
     /* margin:0 auto;  */
     border: 2px solid #d7d7d7;
    border-bottom:0px;
    margin-top:20px;
    margin-left:400px;
    font-family:sans-serif;


}
h1{
    text-align: center;
    background-color: #5c5c5c;
    padding:30px 0px;
    margin-top: 0px;
    color:white;
}
.addItem
{
    position: relative;
    padding-bottom:04px;
    height:20px;

}
.addText
{
    width:14.6%; 
    height: 34.9px;
    
     /* padding:4px;  */
    font-size:16px;
    /* margin-top: 10px; */
}
.addItem button
{
    margin: auto;
    /* margin:0px; */
    height: 41px;
    width:70px;
    padding:5px;

} 
ul{
    list-style: none;
    font-size: 20px;
    color: #668866;
    margin-left:-40px; 
    margin-bottom:0px;
}
li
{
    border-bottom:1px solid #bfbfbf;
    background-color:#d7d7d7;
    padding:10px 0px;
    margin-bottom:5px;
}
span{
cursor: pointer;
position: relative;
float:right;
margin-right:10px;

}
u{
    color:red;
}
.bot
{
    float:right;
    position: fixed;
    top:65%;

  background-color:#F2F4F4;
}
